services:
    ####################################################################################################
    # FrankenPHP (ganti PHP + Nginx)
    ####################################################################################################
    frankenphp:
        build:
            context: .docker/php
            dockerfile: Dockerfile
        # jika image sudah dibuat, jadi saat build ulang tidak membuat duplikat
        # image: esdmpermit-frankenphp:latest
        container_name: frankenphp_minersdb
        command: frankenphp run --config /etc/frankenphp/Caddyfile
        # ports:
        #    - "80:80"
        #    - "443:443"
        volumes:
            - .:/app
            - ./.docker/php/php.ini:/usr/local/etc/php/conf.d/uploads.ini
            - ./.docker/caddy_data:/data
            - ./.docker/caddy_config:/config
            - ./.docker/Caddyfile:/etc/frankenphp/Caddyfile
        extra_hosts:
            - "host.docker.internal:host-gateway"
        networks:
            - proxy

networks:
    proxy:
        external: true
